 .row .col-sm-5 .image{
    margin-top: 20px;
}
#header ul {
    margin-top: 150px;
}
.navbar{
    background-color: black;

}

.navbar ul{
    color: aliceblue;
}
#header ul{
    list-style-type: none;
}
.nav-item{
    list-style-type: none;
}
.d-flex .nav-item{
    margin-right: 20px;
}
.img-panel{
    height: 80px;
}
.col-sm-3 .panel .row{
    margin-top: 20px;
    border: 1px solid rgb(93, 90, 90);
}

.col-sm-3 .panel .row ul{
    list-style-type: none;
}

