
#header ul {
    margin-top: 150px;
}
.navbar{
    background-color: black;

}

.navbar ul{
    color: aliceblue;
}
#header ul{
    list-style-type: none;
}
.nav-item{
    list-style-type: none;
}
.d-flex .nav-item{
    margin-right: 20px;
}
.img-panel{
    height: 80px;
}
.panel-body .row{
    margin: 30px;
   border: 1px solid rgb(116, 106, 106);
    border-radius: 10px 10px 10px 10px;
}
.col-sm-3 .panel .row ul{
    list-style-type: none;
}
.image-caroucel{
width: auto;
height: 800px;
margin-top: 30px;
}


